{% extends "base.html" %}
{% block title %}Login - {{ block.super }}{% endblock %}
{% block content %}

<h1>Login</h1>

<form role="form" action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit"/>
</form>

{% endblock %} 