{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Task {{ block.super}}{% endblock%}
{% block content%}

<h1 align="center">Welcome! </h1>

<link rel="stylesheet" href="{% static 'css/index.css' %}" />


<ul>
  <li><a href="#">Home</a></li>
  <li><a href="account/login">Login</a></li>
  <li><a href="account/registration">Register</a></li>

</ul>



<table id='tb' width= '100%'>

  <tr>
    <th>ADD</th>
    </tr>
    <tr>
    <th>Task</th>
    </tr> 
    <tr>
    <th>Archive</th>
    </tr>
  </tr>
  </table>

  <div class="content">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed metus at tellus varius tempus nec at lectus. Vestibulum in lobortis ante. Nunc sodales ante sed mi mollis, id sodales nisi convallis.</p>
</div>



<form method="GET" action="">
{% csrf_token %}
	{{ form.as_p }}
	<input type="submit"/>
</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>

<script>

(function(){
	var content = $('div.content').hide();

	jQuery.fn.flash = function(){
		var $this = $(this);
	};

	$('table').on('click', function(){
		content.toggle();
		});
	})();

</script>

{% endblock%}