{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" href = "{% static 'css/bootstrap.css' %}" />
	<title>
	{% block title %} {{block.super}}{% endblock %}
	</title>
</head>
<body>

<body background='http://cdn.wallpapersafari.com/33/95/Mo3amz.jpg'>


{% block content%} 

{% endblock %}



</body>
</html>